<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestConfiguration" type="AcceptanceTests.Configuration.TestConfiguration, AcceptanceTests" />
  </configSections>
  <TestConfiguration >
    <EnvironmentSettings selected="local">
      <Environment name="local">
        <TestSettings>
          <Setting name="DBFit.Domain" value="http://localhost:8085/"/>
        </TestSettings>
      </Environment>
    </EnvironmentSettings>
  </TestConfiguration>
</configuration>