<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestConfiguration" type="AcceptanceTests.Configuration.TestConfiguration, AcceptanceTests" />
  </configSections>
  <TestConfiguration >
    <TestSettings>
      <Setting name="Browser" value="Chrome"/>
    </TestSettings>
    <EnvironmentSettings selected="T1">
      <Environment name="local">
        <TestSettings>
          <Setting name="UrlBase" value="http://localhost/SpecTests.web"/>
        </TestSettings>
      </Environment>
      <Environment name="BADev">
        <TestSettings>
          <Setting name="UrlBase" value="http://localhost/SpecTests.web"/>
        </TestSettings>
      </Environment>
      <Environment name="T1">
        <TestSettings>
          <Setting name="UrlBase" value="http://localhost/SpecTests.web"/>
        </TestSettings>
      </Environment>
    </EnvironmentSettings>
  </TestConfiguration>
</configuration>