@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<html>
    <!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>nFact</title>
        <script src="/assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="/assets/js/knockout-3.1.0.js" type="text/javascript"></script>
        <script src="/assets/js/knockout.mapping.js" type="text/javascript"></script>
        <script src="/assets/js/singleton.js" type="text/javascript"></script>
        <script src="/assets/js/vm_controls.js" type="text/javascript"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    

        <style type="text/css" media="screen">
            body{ font-size:.9em; }
            .msg{ }
            .info{ color:#246499;}
            .ok{ color:#3B9957;}
            .error{ color:#992E36;}
        </style>

        <!-- Bootstrap -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script id="dataModel" type="application/json">
            @Html.Raw(Model.DataModel.ToJSON())
        </script>

    
        @RenderSection("ExtraHeaders", required: false)
    </head>
    <body>
        <div class="container">
            <div class="row">
                @if (Model.ControlsVisible)
                {
                    @Html.Partial("partials/Controls", Model.Controls)
                }
            </div>
            <div id="divContent" class="row">
                @RenderBody()
            </div>
        </div>
    </body>
</html>